.pole {
    margin: auto;
    height: 100px;
    width: 25px;
    background-color: black;
}

.trafficLight {
    margin: auto;
    height: 460px;
    width: 225px;
    background-color: black;
    padding-top: 5px;
}

.red {
    margin: auto;
    background: red;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
   }
   
.yellow {
    margin: auto;
    background: yellow;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
   }

.green {
    margin: auto;
    background: green;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
   }

.glowing-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #4a90e2;
    background-color: transparent;
    color: #4a90e2;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
  }
  
.glowing-button.active-glow {
    box-shadow: 0 0 10px 3px rgba(74, 144, 226, 0.7);
  }